.container {
    padding: 40px;
    max-width: 900px;
}

.container blockquote {
    border-left: 4px solid #000000;
    padding-left: 10px;
    margin-left: 0;
}

.container a, a:visited {
    /* Override some Typograhy.js stuff. to be changed */
    color: #000000 !important;
    text-decoration: underline;
}