.container {
    padding: 40px;
    max-width: 900px;
}

.container blockquote {
    border-left: 4px solid #F5F5F5;
    padding-left: 10px;
    margin-left: 0;
}

.container a, a:visited {
    color: #FFFFFF;
    text-decoration: underline;
}